:root {
	--max: 1200px;

	--gs: clamp(0.618rem, 0.5723rem + 0.2289vi, 0.7726rem);
	--g0: clamp(1rem, 0.9259rem + 0.3704vi, 1.25rem);
	--g1: clamp(1.618rem, 1.4981rem + 0.5993vi, 2.0225rem);
	--g2: clamp(2.6179rem, 2.424rem + 0.9696vi, 3.2724rem);
	--g3: clamp(4.2358rem, 3.922rem + 1.5688vi, 5.2948rem);
	--g4: clamp(6.8535rem, 6.3459rem + 2.5383vi, 8.5669rem);

	/* color palette */
	--l: #f0ebe0;
	--d: #0b1114;
	--lr: #ff003c;
	--dr: #7a0404;

	color-scheme: light dark;

	font-size: 100%;
	text-align: left;
	cursor: default;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* layout */
html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
section {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

body {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	border-top: 3px solid var(--lr);
	border-bottom: 3px solid var(--lr);
	background-color: var(--l);
	background-image: url('grain.svg');
}

section {
	max-width: var(--max);
	padding: var(--g1);
	justify-content: center;
	align-items: flex-start;
}
