/* ------------------------------------------------------ contact-page */
#contact-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact-page p,
#contact-page a {
	width: 100%;
	max-width: 30em;
}

#contact-page a {
	color: var(--dr);
}

#contact-page a:hover {
	color: var(--lr);
}

@media only screen and (max-width: 500px) {
	#contact-page {
		padding: var(--g3) var(--g0);
	}
	#nav-sub {
		margin-top: var(--gs);
		display: inline;
	}

	#contact-page h3 {
		font-size: var(--g1);
	}
}
